################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReverseProxy/Proxy_Server/BusinessLayer/obj/Debug/netcoreapp3.1
/ReverseProxy/Proxy_Server/BusinessLayer/obj
